﻿@model FizzBuzz.Models.FizzBuzzModel


@{
    ViewBag.Title = "Index";
}

<h2>User Input For Fizz Buzz</h2>

@using (Html.BeginForm("Result", "FizzBuzz"))
{
    <label for="userinput">Please Enter A Value</label>
    <div>
        <input type="text" id="userinput" class="form-control" name="userinput" value="@Model.userinput" />
        @Html.ValidationMessageFor(m => m.userinput, "Please enter a value", new { @class = "text-danger" })
    </div>
    
    <button type="submit" name="submit" class="btn btn-info" id="submit" value="submit">submit</button>
}
