﻿@* @model IEnumerable<string> *@

@model IPagedList<string>


@using PagedList
@using PagedList.Mvc


@{
    ViewBag.Title = "Output";
}

<h2>Output</h2>


<html>
<head>
    <link href="~/Styles/StyleSheetOutput.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @foreach (var element in Model)
    {
        <div>
            <ul>
                <li class="@element">@element</li>
            </ul>
        </div>
    }
</body>
</html>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Output", "FizzBuzz", new {page = page}),PagedListRenderOptions.MinimalWithPageCountText)
